.allpage{
  height: 100vh;
  width: 100vw;
}
.vanimage{
  background-image: url("https://github.com/KaulitzGuimaraes/centimeters/blob/media/IMG_4445.jpg?raw=true");
  background-size: cover;
  background-position: center, center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}